header{
    width: 100%;
    height: 105vh;
  
    background-image: url("../../assets/images/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    background-attachment: fixed;
  }
  
 div.fundo{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    animation: fade 1s ease-in;
  }
  
   div#texto{
    position: sticky;
    top: 40vh;
    margin-left: 5vw;
    margin-bottom: 10vh;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5vh;
    font-size: 5vh;
  
    width: fit-content;
  
    background-attachment: fixed;
    
    animation: fade 1.5s ease-in;
  }
  
  strong:not(#textoForte){
    color: #ffa79b;
  }

  strong#textoForte{
    color: #e27163;
    animation: fade 2s ease-in;
  }
  
  main{
    position: relative;
    top: -10vh;
    width: 100%;
  }
  
  section#cards{
    border-radius: 5vw;
    background-color: rgb(255, 243, 221);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 30px;
    row-gap: 30px;
  }

  #fotoLogo{
    background-image: radial-gradient(rgba(46, 141, 127, 0.5), rgb(25, 142, 124));
  }
  
  section{
    border-radius: 1vh;
    height: auto;
    width: 100%;
    padding: 50px;
  }

  a#card-spin:hover{
      animation: spin 0.8s ease-out;
  }

  div.comoComecamos, div.oqQueremos, div.ondeEstamos{
    position: relative;
    z-index: -1;

    width: 100%;
    height: 120vh;
  
    background-image: url("../../assets/images/Logo\ \(Coração\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    background-attachment: fixed;

    background-color: rgb(25, 142, 124);
  }

  div.comoComecamos{
    top: -8vh;
  }

  div.oqQueremos{
    background-image: url("https://cdn.discordapp.com/attachments/813722841580830753/851993641101688842/Perro-dueC3B1o.png");
    top: -11vh;
  }
  
  div.ondeEstamos{
    top: -13vh;
    background-image: url("https://cdn.discordapp.com/attachments/813722841580830753/852005003300306974/comportamento-cachorro-dono-20160618-001.png");
  }

  div#texto2{
    position: relative;
    top: 60vh;
    margin-left: 5vw;

    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5vh;
    font-size: 5vh;
  
    width: fit-content;
  
    background-attachment: fixed;
    
    animation: fade 1.5s ease-in;
  }

  section.comoComecamos{
    position: relative;
    top: -10vh;
    background-color: white;
  }

  section.oqQueremos{
    position: relative;
    top: -12vh;
    background-color: white;
  }

  section.ondeEstamos{
    position: relative;
    top: -14vh;
    background-color: white;
  }

  section div p{
    font-size: xx-large;
    text-align: justify;
  }

  @keyframes spin{
      from {transform: rotate(0deg)}
      50% {transform: rotate(5deg)}
      to {transform: rotate(0deg)}
  }

  @keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}  
  }