#image-pet{
    height: 200px;
    object-fit: cover;
    width: 100%;
}

#titulo{
    margin-top: 10px;
}

.card-link{
    box-shadow: 5px 5px 0px rgba(128, 128, 128, 0.5);
}

.card-link:hover{
    animation: sombra 1s;
    box-shadow: 10px 10px 0px rgba(128, 128, 128, 0.7);
}

.card{
    border-style: none;
    border-radius: 0;
    background-color: rgb(250, 250, 250);
}

@keyframes sombra{
    from {box-shadow: 5px 5px 0px rgba(128, 128, 128, 0.5);}
    to {box-shadow: 10px 10px 0px rgba(128, 128, 128, 0.7);}
}