footer#footer{
    width: 100%;
    margin-top: 60px;
    background-color: gainsboro;
    color: black;
    text-align: center;
    height: 70px;
}

footer#footer img{
    height: 60px;
    width: auto;
    margin: 3px;

    float: left;
}

footer#footer div{
    padding-top: 2vh;
}